@import url(@/styles/reset.scss);

#kk-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.loading-content {
  padding: 50px;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
